:root {
  --primary-background-default: #1860dc;
  --primary-background-hover: #0f4cbd;
  --primary-background-active: #0c3b92;
  --primary-background-disable: #e2e5ea;
  --primary-text: #ffffff;
  --primary-text-default: #1860dc;

  --neutrals-border-default: #e2e5ea;
  --neutrals-background-white: #ffffff;

  --neutrals-border-hover: #d5dae1;
  --neutrals-background-hover: #f4f5f8;

  --neutrals-border-active: #aab3c2;
  --neutrals-background-active: #eceff3;

  --neutrals-border-disable: #e2e5ea;

  --neutrals-text-primary: #162031;

  --neutrals-text-disable: #aab3c2;
  --neutrals-background-disable: #e2e5ea;

  --primary-background-weak-hover: #edf4fd;
  --primary-background-weak-active: #d6e7fa;

  --danger-background-default: #c9332c;
  --danger-background-hover: #a72b25;
  --danger-background-active: #830014;
}
